.contact-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.banner-text {
  font-size: 2.5em;
}

// To make banner image opaque but not text, banner z-index is adjuste and image is in ::before pseudo-class
.banner {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 20px 0px;
  width: 90vw;
  height: 10vw;
}
// ::before pseudo-class and z-index adjust image
.banner::before {
  background: url("../images/house-one.jpg") center center;
  background-size: cover;
  opacity: .4;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Sets width of fields for most screens; form and submit larger to accomodate lack of padding
@media screen and (min-width: 701px) {
  #form {
    width: 632px;
  }

  input {
    width: 600px;
  }

  .custom-select {
    width: 600px;
  }

  textarea {
    width: 600px;
  }

  #submit {
    width: 632px;
  }
}

// Shrinks form for smaller screen
@media screen and (max-width: 700px) {
  #form {
    width: 332px;
  }

  input {
    width: 300px;
  }

  .custom-select {
    width: 300px;
  }

  textarea {
    width: 300px;
  }

  #submit {
    width: 332px;
  }

  .banner-text {
    font-size: 1.5em;
  }
}

input {
  font-family: $standard, sans-serif;
  font-size: 1em;
  font-weight: 600;
  height: 75px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: $darkgrey;
  border: solid 1px $darkgrey;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
}

.custom-select {
  //position: relative; for custom dropdown
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75px;
  padding: 0px 15px 0px 15px;
  margin: -5px 0px 0px 0px;
  color: $darkgrey;
  border: solid 1px $darkgrey;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
}

// Very light grey color for most fields when hovered over
.custom-select:hover {
  background: $lightgray;
}

input:hover {
  background: $lightgray;
}

textarea {
  height: 150px;
  padding: 15px;
  font-family: $standard, sans-serif;
  font-weight: 600;
  background: transparent;
  outline: none;
  color: $darkgrey;
  font-size: 1em;
  border: solid 1px $darkgrey;
  transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: $lightgray;
}

// Submit button has slightly darker grey when hovered over
#submit {
  padding: 0;
  //margin: -5px 0px 0px 0px;
  font-family: $standard, sans-serif;
  font-size: 1.25em;
  font-weight: 600;
  color: $darkgrey;
  outline:none;
  cursor: pointer;
  border: solid 1px $darkgrey;
  //border-top: none;
}

#submit:hover {
  background: $mediumgrey;
}
