// Centers footer content in middle of screen
.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// Puts footer content in vertical alignment
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Keeps footer content at manageable size on small screens
@media only screen and (max-width: 599px) {
  h3 {
    font-size: 1em;
  }
}

@media only screen and (min-width: 600px) {
  h3 {
      font-size: 1.5em;
    }
}

h3 {
  margin: 5px;
}

// Puts web-design credits in lower right portion
.sub-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.design {
  font-family: $name, sans-serif;
  color: $carrot;
  font-size: 1em;
  margin: 5vw 10vw 0px 0px;
}
